<main class="container mt-4">

    <div class="row">
        <?php foreach ($tabBooks as $book): ?>

        <div class="col-md-4 mb-4">
            <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title"><?php echo $book->getTitle(); ?></h5>
                    <p class="card-text">Author: <?php echo $book->getAuthor(); ?></p>
                    <p class="card-text">Type: <?php echo $book->getType(); ?></p>
                    <p class="card-text"><?php echo $book->getDescription(); ?></p>
                </div>
                <img src="../../asset/img/Front-Plain-Book.png" class="card-img-top w-50 mx-auto d-block" alt="<?php echo $book->getTitle(); ?>">

            </div>
        </div>
        <?php endforeach; ?>
    </div>

</main>

