<main class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4"><?= $titlePage; ?></h1>
                <p class="lead">Bienvenue sur la page d'accueil.</p>
                <hr class="my-4">
                <p>Si vous avez des questions, n'hésitez pas à nous contacter.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Nous contacter</a>
            </div>
        </div>
    </div>
</main>
